.header-container {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 60px;
}

.spacer {
  flex: 1 1 auto;
}
.logo-text {
  margin: 0 0;
  font-weight: 700;
  text-transform: uppercase;
}
:host ::ng-deep ace-user-profile .user-role:before {
  content: "(";
}
:host ::ng-deep ace-user-profile .user-role:after {
  content: ")";
}
:host ::ng-deep ace-user-profile .user-info-container {
  display: flex;
  min-height: auto;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  box-shadow: none;
  margin: 0;
}
:host ::ng-deep ace-user-profile .user-info-text-block {
  /* display: none; */
  display: flex;
    max-width: 200px;
}

.profile-menu {
  display: flex;
  align-items: center;
  border-radius: 50%;
    padding: 0;
}
button.applications{
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 5px;
}

.profile-name{
    padding: 5px 10px;
    
}
:host ::ng-deep ace-user-profile div.user-info-text-block .profile-name,
:host ::ng-deep ace-user-profile div.user-info-text-block .user-role
{
  text-transform: capitalize;
  font-weight: 400;
}
:host ::ng-deep ace-user-profile div.user-info-text-block .user-role{
  font-size: 80%;
}