<header class="header-container ace-bg-primary ace-text-secondary">
    <span>
        <a class="ace-btn" href="#/">
            <i class="material-icons">
                business
            </i>
        </a>
    </span>
    <span class="logo-text">App Square</span>
    <span class="spacer"></span>
    <button class="applications ace-btn ">
        <i class="material-icons">
            apps
        </i>
    </button>
    <div>
        <ace-user-profile img-size="md" hide-img="false" hide-name="false" hide-role="false"></ace-user-profile>
    </div>
    <!-- <button class="profile-menu ace-btn ace-accent" [matMenuTriggerFor]="profileMenu">
        <ace-user-profile img-size="md" hide-img="" hide-name="true" hide-role="true"></ace-user-profile>
    </button> 
    <mat-menu #profileMenu="matMenu">
        <div class="menu-wrapper ace-bg-white">
            <div class="profile-name">
                <ace-user-profile img-size="md" hide-img="false" hide-name="false" hide-role="false"></ace-user-profile>
            </div>
            <button mat-menu-item [matMenuTriggerFor]="themeOptions">
                theme settings
            </button>
            <ace-logout>
                <button mat-menu-item>Logout</button>
            </ace-logout>

        </div>
    </mat-menu>
    <mat-menu #themeOptions="matMenu">
        <div class="menu-wrapper ace-bg-white">
            <ng-container *ngFor="let opt of themesList">

                <button mat-menu-item (click)="swtichThemeOptions(opt)">
                    {{opt.name}}
                </button>
            </ng-container>


        </div>
    </mat-menu> -->



</header>