$primaryColor:map-get($theme-colors, "primary");
$secondaryColor:map-get($theme-colors, "secondary");

html body {
    // objects list menu
    .objects-container {
        display: flex;
        flex-wrap: wrap;

        .ace-list-item.object-info {
            margin-right: 5px;

            a.item-info {
                padding: 2px 10px;
                border: 1px solid $secondaryColor;
                border-radius: 10px 0 10px 0;
                &:hover {
                    border: 1px solid $primaryColor;
                }
            }
        }
    }
}
