<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>RecordPanelView</title>
  <base href="./">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="/wmapps/ace-lib/styles.css" />
  <!-- <link rel="stylesheet" href="assets/themes/purple/css/ace-theme.css" id="theme-ref-id" /> -->
  <link rel="stylesheet" href="assets/themes/app-square/appsquare-theme.css" id="theme-ref-id" />
</head>

<body>
  <app-root></app-root>
  <!-- platform assets -->
  <script type="text/javascript" src="/wmapps/ace-lib/runtime.js"></script>
  <script type="text/javascript" src="/wmapps/ace-lib/es2015-polyfills.js" nomodule></script>
  <script type="text/javascript" src="/wmapps/ace-lib/polyfills.js"></script>
  <script type="text/javascript" src="/wmapps/ace-lib/scripts.js"></script>
  <script type="text/javascript" src="/wmapps/ace-lib/vendor.js"></script>
  <script type="text/javascript" src="/wmapps/ace-lib/main.js"></script>
</body>

</html>