/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;  }
.page-wrapper{
  padding: 0 20px 20px;
}
.page-container {
  height: calc(100vh - 80px);
  /* margin: 0 20px 20px; */
  border-radius: 8px;
  overflow: hidden;
}

.cdk-overlay-container ace-user-profile .user-info-container {
    display: flex;
    min-height: auto;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    box-shadow: none;
    margin: 0;
  }
  .component-not-loaded {
    display: none;
  }
  