<div class="container-fluid " >
    
    <div class="row">
        <div class="col">
            <div class="content-text">

                <h3>A Simple CUI starter template for AgileApps! </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est lacus, semper ac ante ac, sodales congue eros. Nulla molestie hendrerit ipsum sed dapibus. Pellentesque congue nibh cursus venenatis hendrerit.
                </p>
                <p>
                    Praesent ut mattis eros, et rutrum sapien. Integer ullamcorper pretium nunc, maximus mattis odio feugiat in. Duis bibendum dictum neque, malesuada mollis orci rhoncus sed. Morbi fringilla dui eget semper elementum. Etiam bibendum id lectus gravida facilisis. Nunc neque orci, venenatis eu scelerisque in, faucibus non tellus. Donec aliquam faucibus sem id pharetra.
                </p>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col">
            <div class="menu-container">
                <h3>Application Menu</h3>
                <ace-app-tabs-list></ace-app-tabs-list>
            </div>
            
        </div>
    </div>
</div>