<app-masthead></app-masthead>

<div class=" ace-bg-primary page-wrapper">
    <div class="page-container d-panel-container ace-bg-light ">

        <as-split unit="percent" direction="horizontal" [useTransition]="true">
            <as-split-area [size]="layoutCols.col1" #area1="asSplitArea">
                <div class="split-content">

                    <div class="content-scrollable" [ngClass]="{'component-not-loaded':!objectId}">

                        <div #objectViewsListContainer>
                            <ace-object-views-list css-classlist="" object-id="18bc1e03555c45e2b17493425710f1b2"
                                #objectViewsElem (selectionChange)="viewSelectionChange($event)">
                            </ace-object-views-list>

                        </div>
                    </div>


                </div>


            </as-split-area>
            <as-split-area [size]="layoutCols.col2">
                <div class="split-content">
                    <div class="row">
                        <div class="col-10">
                            <h3>{{selectedView?.name}}</h3>

                        </div>
                        <div class="col">
                            <button class="create_new_btn ace-btn ace-primary create_btn " (click)="createNewRecord()">
                                <i class="material-icons valign-middle ">
                                    add_circle
                                </i>
                                Create
                            </button>

                        </div>
                    </div>
                    <div class="content-scrollable" [ngClass]="{'component-not-loaded':!viewId}">
                        <ace-records-table-view object-id="" view-id="-1" sorting="true" sort-by="date_modified"
                            sort-order="desc" css-classlist="ace-table-striped " #recordTableViewElem
                            selection-column-title="" (selectrecord)="recordTableSelectionChange($event)">
                        </ace-records-table-view>
                    </div>
                </div>

            </as-split-area>
            <as-split-area [size]="layoutCols.col3" #area1="asSplitArea">
                <div class="content-wrapper split-content" [ngClass]="{'component-not-loaded':!recordId}">
                    <div class="content-title ace-bg-light">
                        <h3>
                            <span *ngIf="recordId !='-1'; else elseBlock">{{selectedRecord?.record_locator}}</span>
                            <ng-template #elseBlock>Create new record</ng-template>
                            
                        </h3>
                        <hr>
                        <div class="record-actions ace-bg-light" [ngClass]="{'hidden':recordId =='-1'}">
                            <ace-record-actions #recordActionsElem css-classlist="" hide-action-types=""
                                hide-options=""></ace-record-actions>
                        </div>
                        <hr>

                    </div>
                    <div class="content-scrollable form-container ace-bg-white">
                        <ace-record-form css-classlist="ace-bg-white " layout-type="accordion" #recordFormElem
                            (save)="recordFormSaveHandler($event)">
                        </ace-record-form>
                    </div>
                    <div class="content-footer ace-bg-light">
                        <hr>
                        <div class="action-btns">

                            <button class="ace-btn ace-outline-secondary btn-space "
                                (click)="resetRecordForm()">Reset</button>
                            <button class="ace-btn ace-primary btn " (click)="saveRecordForm()">Save
                                Changes</button>

                        </div>
                    </div>
                </div>

            </as-split-area>
        </as-split>
    </div>
</div>