
:host ::ng-deep .record-actions ace-record-actions .actions-list .mat-menu-item {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0;
    margin: 0 5px;
    padding: 5px;
    height: auto;
    line-height: inherit;
    cursor: pointer;
  }

  .split-content{
      padding: 10px;;
  }

  .btn-space{
      margin: 0 5px 0 0;
  }

  .action-btns {
    display: flex;
    justify-content: flex-end;
  }
  .action-btns > .ace-btn {
    margin: 0 5px;
  }
  .content-wrapper {
    padding: 0 20px 20px;
    position: relative;
  }
  .content-title {
    position: sticky;
  
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 10px;
  }
  .content-footer {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 10px;
  }
  .content-scrollable {
    /* margin-top: 25px; */
  }

  .form-container{
      padding: 10px;
  }