<app-masthead ></app-masthead>
    <div class="page-wrapper ace-bg-primary">
        <div class="page-container ace-bg-white ">
            <div class="row h-100">
                <div class="col-5 col d-flex align-items-center h-100">
                    <div class="home-lead-content">

                        <h2>AppSquare – AppAutomation Application Runtime!
                        </h2>
                        <p> ipsum dolor sit amet, consectetur adipiscing elit. Donec est lacus, semper ac ante ac,
                            sodales congue eros. Nulla molestie hendrerit ipsum sed dapibus. Pellentesque congue nibh
                            cursus venenatis hendrerit.
                        </p>

                        <p>Praesent ut mattis eros, et rutrum sapien. Integer ullamcorper pretium nunc, maximus mattis
                            odio feugiat in. Duis bibendum dictum neque, malesuada mollis orci rhoncus sed. Morbi
                            fringilla dui eget semper elementum. Etiam bibendum id lectus gravida facilisis. Nunc neque
                            orci, venenatis eu scelerisque in, faucibus non tellus. Donec aliquam faucibus sem id
                            pharetra.</p>
                        <!-- <div>
                            <button class="ace-btn ace-outline-primary">
                                Getting started
                            </button>
                        </div> -->
                    </div>
                </div>
                <div class="col-7 d-flex align-items-center h-100 justify-content-center">
                    <div class="home-navs-container home-app-nav-menu-container">
                        <h2 class="title">Get started <small> by selecting an item.</small></h2>
                        <div class="content">

                            <ace-app-nav-list css-classlist="app-nav-list"
                                (selectionchange)="tabSelectionChange($event)" #tabsListElm></ace-app-nav-list>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>