
// HOME page
.home-app-nav-menu-container{
    border-radius: 10px;
    background-color: map-get($theme-colors, "primary");
    min-width: 400px;
    .title{
        padding:10px 20px ;
    }
    .content{
        padding: 10px 20px;
    }
}