<div class="container-fluid p-0 ace-bg-primary ace-text-dark">
    <div class="row ">
        <div class="col">
            <div class="col-10">


            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="row ">
        <div class="col"></div>
        <div class="col-9">
            <h1 class="brand-name-text">
            <span class="icon-cls"><i class="material-icons">storefront</i></span>
                
                RetailMart™</h1>
            <!-- <p>
                
                RetailMart™ is a one-stop supermarket chain that aims to offer customers a wide range of basic home and personal products under one roof. Each DMart store stocks home utility products - including food, toiletries, beauty products, garments, kitchenware, bed and bath linen, home appliances and more - available at competitive prices that our customers appreciate. Our core objective is to offer customers good products at great value.
                
            </p>
            <hr>     -->
            <h2>Partner with us</h2>
            <h3 class="text-center">New supplier request form</h3>
            <p class="help-text-desc">
                Do you have a quality product that needs an audience? We at RetailMart™ believe in joining hands with the
                right partners in order to provide high-quality yet affordable products to our customers. We invite
                suppliers to join us in our endeavour to offer the best to our customers. Be a part of our esteemed list
                of suppliers - with whom we have successful long-term partnerships - for a commercially satisfying and
                profitable relationship.

            </p>
        </div>
        <div class="col"></div>
    </div>
    <div class="row ">
        <div class="col"></div>
        <div class="col-9">
            <div class="ace-bg-white border-rad">
                <div class="successfully-saved hidden">
                    <h1><span class="icon-cls"><i class="material-icons">storefront</i></span>
                
                        RetailMart™</h1>
                    
                    <p>
                        Your request has been successfully submitted. Your request will be responded within 7 working days.
                    </p>
                </div>
                <div class="form">
                    <ace-record-form css-classlist=" " layout-type="accordion" #recordFormElem
                    object-id="e49a02780df24f25922c6d4d4e8ee523" record-id="-1" (save)="recordFormSaveHandler($event)">
                </ace-record-form>
            </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row ace-bg-white action-row ">
        <div class="col-9"></div>
        <div class="col-3">
            <!-- <button class="ace-btn ace-outline-secondary btn-space " (click)="resetRecordForm()">Reset</button> -->
            <button class="ace-btn ace-primary btn " (click)="saveRecordForm()">Submit your request</button>


        </div>
        <div class="col"></div>

    </div>
</div>